#Database
MONGO_URI = 

#Auth
JWT_SECRET=
#Server
PORT=8000

#AI
GROQ_API_KEY=
LLM_MODEL=llama-3.1-8b-instant

#Mailer
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

#URls
CLIENT_BASE_URL=http://localhost:5173
BACKEND_BASE_URL=https://scholarlycritique.onrender.com